@charset UTF-8
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
  body{
margin:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
}
home{
min-height:100vh;
background-image: url"(https://media-exp1.licdn.com/dms/image/C5603AQEUbZXRJO4Vsw/profile-displayphoto-shrink_200_200/0?e=1591833600&v=beta&t=LV4XAwH58u-fnT3UXgOfCRWVNN0kqekcNIqMjfmtFdU");
}
